div{
    border: 2px;
    border-radius: 25px;
    background-color: rgb(49, 49, 65);
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding: 50px;
}
.main{
    border-radius: 15px;
}
h1{
    color: white;
    font-size: 30px;
}
p{
    color: skyblue;
    font-size: 25px;
}
table{
    padding: 20px;
    font-size: 25px;
    color: aqua;
    width: 100%;
}
.tab1{
    text-align: left;
}
.tab2{
    text-align: right;
    color:skyblue;
}
hr{
    background-color: skyblue;
    height: 0.5px;
}
.main1{
    border-color: white;
    border: solid 1px white;
    border-radius: 30px;
    margin-right: 15px;
}
.tab3{
    border: 2px;
    border-top-right-radius:0px;
    border-top-left-radius: 0px;
    background-color: rgb(49, 49, 65);
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding: 0px;
}